.logo {
  --height: 6em;
  --padding: 1.5em;
  --will-change: filter;
  --transition: filter 300ms;
  display: table-cell;
}

.logo-clockwise {
  animation: logo-spin-clockwise infinite 20s linear;
}

.logo-anticlockwise {
  animation: logo-spin-anticlockwise infinite 20s linear;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin-clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes logo-spin-anticlockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.title {
  font-size: 2em;
  margin: 0.5em;
  color: black;
}
