.container {
  padding: 5em;
  border: #61dafbaa 1px solid;
  background-color: white;
  display: table-row;
}

.sidebar {
  padding: 5em;
  border: #61dafbaa 1px solid;
  background-color: white;
  display: table-cell;
}

.logo {
  --height: 6em;
  --padding: 1.5em;
  --will-change: filter;
  --transition: filter 300ms;
  display: table-cell;
}

.logo-clockwise {
  animation: logo-spin-clockwise infinite 20s linear;
}

.logo-anticlockwise {
  animation: logo-spin-anticlockwise infinite 20s linear;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin-clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes logo-spin-anticlockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.title {
  font-size: 2em;
  margin: 0.5em;
  color: black;
}

.hideMenuNav {
  display: none;
}
.showMenuNav {
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nav-text {
  color: black;
  text-decoration: none;
}
